
.header {
    position: relative;
    z-index: 1;
}
    .btn {
        background-color: #fff;
    }
    .card {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background-color: #fff;
        border: 2px solid #0f0e0e;
        border-radius: 10px;
    }

    /* 共用的表格样式改进 */
    .custom-table {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;
        justify-content: center; /* Center alignment */
    }

    .td {
        text-align: center;
    }

    .custom-table .td .item-container,.place-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.3s ease;
        /* border: 1px solid #ccc; */
        border-radius: 10px;
        margin-bottom: 16px;
        overflow: hidden; /* 隐藏溢出的内容 */
        border: 2px solid #ccc;
        padding: 10px 10px;
    }
    
    .item-container:hover,
    .place-container:hover {
        transform: translateY(-10px);
        cursor: pointer;
    }
    

    .item-container img,
    .place-container img {
        width: 280px;
        height: 180px;
        border-radius: 5px;
        object-fit: cover; /* 尝试使用scale-down */
    }
    
    

    .item-name,
    .place-name {
        font-weight: bold;
        margin-top: 10px;
    }

    a {
        text-decoration: none !important;
    }

    #clickable-div:hover {
        cursor: pointer;
    }


    #card-image,
    #place-card-image {
        width: 350px;  /* 设置宽度 */
        height: 150px; /* 设置高度 */
    }



    /* New styles for the form inside the dialog */
    .card {
        max-width: 500px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .card label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }

    .card input {
        width: 80%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
    }

    .card button {
        background-color: #343634;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    .card button:hover {
        background-color: #484848;
    }

    .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

    .pagination a {
        color: #6d6f6d;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color 0.3s;
        border: 1px solid #ddd;
        margin: 0 4px;
    }

    .pagination a.active {
        background-color: #3d3e3d;
        color: white;
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
    }
    .pagination {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 1;
        display: flex;
        justify-content: center;
        padding: 10px 0;
        border-top: 1px solid #ccc;
    }
    
