
    .header {
        position: relative;
        z-index: 1; /* Set a value smaller than varbar's z-index */
    }
    dialog {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background-color: #fff;
        border: 2px solid #0f0e0e;
        border-radius: 10px;
    }

    button {
        background-color: #8d8f8d;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
    }

    button:hover {
        background-color: #525352;
    }

    /* 共用的表格样式改进 */
    .custom-table {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;
        justify-content: center; /* Center alignment */
    }

    .td {
        text-align: center;
    }

    .item-container,
    .place-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.3s ease;
        /* border: 1px solid #ccc; */
        border-radius: 10px;
        margin-bottom: 16px;
        height: 190px;
        overflow: hidden; /* 隐藏溢出的内容 */
    }
    
    .item-container:hover,
    .place-container:hover {
        transform: translateY(-10px);
        cursor: pointer;
    }
    

    .item-container img,
    .place-container img {
        width: 300px;
        height: 250px;
        border-radius: 20px;
        object-fit: cover; /* 尝试使用scale-down */
    }
    
    

    .item-name,
    .place-name {
        font-weight: bold;
        margin-top: 10px;
    }

    #clickable-div:hover {
        cursor: pointer;
    }

   
    #dialog-image,
    #place-dialog-image {
        width: 350px;  /* 设置宽度 */
        height: 150px; /* 设置高度 */
    }



    /* New styles for the form inside the dialog */
    .dialog-form {
        max-width: 300px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .dialog-form label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }

    .dialog-form input {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
    }

    .dialog-form button {
        background-color: #343634;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    .dialog-form button:hover {
        background-color: #484848;
    }



    .pagination a {
        color: #6d6f6d;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color 0.3s;
        border: 1px solid #ddd;
        margin: 0 4px;
    }

    .pagination a.active {
        background-color: #3d3e3d;
        color: white;
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
    }
    .pagination {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 1;
        display: flex;
        justify-content: center;
        padding: 10px 0;
        border-top: 1px solid #ccc; /* 可选：添加一个顶部边框以分隔内容 */
    }
    
