.title {
    text-align: center;
}

#place-content {
    display: none;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.header a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
}

.header a:hover {
    color: #FFA500; 
}

.ctable {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.profile-panel {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-style: outset; /* 修改这一行，添加border-style属性 */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}


.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto; /* 水平垂直居中 */
    background-color: #ccc;
}

.profile-name {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.right-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 左对齐 */
}

.profile-info {
    margin-bottom: 10px;
}

.profile-info label {
    font-weight: bold;
}

.profile-info span {
    margin-left: 10px;
}

.btn {
    background-color: #989797;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
