    .login-container {
        background-color: rgba(0, 0, 0, 0.8) !important; /* 设置背景颜色和透明度，使用 !important 以确保最高优先级 */
        padding: 40px;
        border-radius: 20px;
        max-width: 300px;
        margin: auto;
        margin-top: 100px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* 样式修饰 - 可根据需要进行调整 */
    .box {
        text-align: center;
    }

    .text {
        width: 100%;
        padding: 8px;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
        border-bottom: 1px solid #aaa; /* 一条底边线 */
        outline: none;
        background-color: transparent; /* 透明背景 */
        color: white;
    }

    .custom-button {
        background-color: rgb(95, 150, 95);
        color: rgb(245, 241, 241);
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    /* 添加背景图或者调整颜色以适应您的设计 */
    body {
        background-image: url('img/login.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 0;
    }

    /* 输入框样式，类似于 "New Password" 的输入框 */
    .input-container {
        position: relative;
        margin-bottom: 20px;
    }

    .input-container label {
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.3s;
        pointer-events: none;
    }

    .input-container.active label {
        top: -20px; /* 向上移动的距离 */
        font-size: 12px; /* 调整字体大小 */
    }
    .fa {
    color: white;
}

.fa a {
    font-size: 20px;
    color : #4a44f4;
}