body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    border-radius: 8px;
    padding: 40px; /* 调整内边距 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* 调整宽度 */
    text-align: center;
}

.input-container {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}
.button {
    width: 50%;
    padding: 10px; /* 调整内边距 */
    background-color: #0a0b0a;
    border: 1px solid #adadad;
    border-radius: 4px;
    color: #ffffff;
}
.button[type="submit"]:hover {
    background-color: #3c3d3c;
}
input {
    width: 100%;
    padding: 12px; /* 调整内边距 */
    border: 1px solid #adadad;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: hsl(0, 0%, 21%);
}

input[type="submit"] {
    background-color: #0a0b0a;
    color: #ffffff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3c3d3c;
}

p {
    margin-top: 15px;
}

a {
    color: #545555;
}
.fa {
    font-size: 36px; /* 调整图标大小 */
}
