/* 这是新添加的样式，用于登录框的半透明效果 */
.box {
    background-color: rgba(0, 0, 0, 0.5); /* 调整最后一个数值以控制透明度 */
    border-radius: 3px;
    padding: 70px 100px;
    display: inline-block;
    width: 100%;
}

.input-container {
    position: relative;
    margin-bottom: 25px;
    padding: 20px 0px 0px 0px;
}

.input-container label {
    font-size: 16px;
    color: #090707;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    float: left;
}

.input-container input {
    border: 0;
    border-bottom: 1px solid #131111;
    background: transparent;
    width: 100%;
    padding: 8px 0 5px 0;
    font-size: 16px;
    color: #120e0e;
    outline: none;
}

.input-container input:focus {
    border-bottom: 1px solid #eae0df;
}

.btn-container {
    margin-top: 50px;
}

.custom-button {
    color: #ede5e5;
    background-color: #454343;
    outline: none;
    border: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
    width: 100%;
}

.text-center {
    color: #0b0a0a;
    text-transform: uppercase;
    font-size: 15px;
}
/* 新样式结束 */
